body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  background-color:#ffffff;
  color:black;
}

.main_container {
    width: 1200px;
    display:block;
    margin:0 auto;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}


.hidden {
display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    
}
.main_header {
    height: 56px;
    outline: 1px solid #0002F5;
}


.main_nav {
    display: flex;
    justify-content:space-around;
    padding: 0px;
}

.main_nav li {
    list-style: none;
    text-transform: uppercase;
    display: inline;
}

li a.nav_current_select {
    color:#ada19a;
}
.main_nav a{
    text-decoration: none;
    font-weight: bold;
    color:#000000;
    font-size: 14px;
}

.sedona_main,
.reason_1,
.sedona_plus,
.reason_2,
.other_reasons {
    text-transform: uppercase;
}

.sedona_main {
    height: 200px;
    outline: 1px solid #0002F5;
}

.sedona_main h3,
.form_date h3 {
    margin: 0px;
}

.sedona_main p {
    font-size: 14px;
    font-weight: 400;
}

.main_nav a:hover{
    color:#81b3d2;
}

.main_nav a:active{
    color:#c1c1c1;
}

.background_logo {
    height: 512px;
    background-color:#81b3d2;
    outline: 1px solid #0002F5;
    background-image: url(../img/background_photo.png);
}
.modal_button,
.btn_show_offers {
    text-transform: uppercase;
    color:#ffffff;
    font-size: 21px;
    font-weight: normal;
}

.sedona_main h3,
.sedona_plus h3,
.reason_item h4,
.modal_search h3,
.conteiner h3,
.footer_visit
{
    font-size: 21px;
    font-weight: 700;
}

.items ul {
    margin:0px;
    display: flex;
}

.sedona_plus p {
    font-size: 14px;
    font-weight: normal;
}

.sedona_plus,
.reason_item {
    list-style: none;
}

.reason_item {
    font-size: 14px;
    font-weight: normal;
}

.hotels_offers label {
    font-size: 14px;
    font-weight: bold;
}


.footer_socials a {
    text-decoration: none;
}

.reason_1,
.reason_2{
    background-color:#81b3d2;
    color:#ffffff;
}

.reason_1_block {
    outline: 1px solid #0002F5;
    display: flex;
    height: 256px;
}
.reason_1 {
    height: 256px;
}

.reason_1_picture img {
    height: 256px;
}

.reason_2_block {
    outline: 1px solid #0002F5;
    display: flex;
    flex-direction:row-reverse;
    height: 256px;
}

.reason_2 {
    height: 256px;
}

.reason_2_picture img {
    height: 256px;
}

.reason_1 h4,
.reason_2 h4 {
    font-size: 21px;
    font-weight: 700;
}

.reason_1 span,
.reason_1 p,
.reason_2 span,
.reason_2 p {
    font-size: 14px;
    font-weight: 400;
}

.items {
    height: 330px;
    outline: 1px solid #0002F5;
    margin-top:0px;
}

.other_reasons {
    background-color:#eeeeee;
    height: 256px;
    outline: 1px solid #0002F5;
}

.list_reasons {
    display: flex;
}

.other_reasons ul {
    margin: 0px;
}

.reason_item {
}


button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
}

button.modal_button {
    background-color:#766357;
    color:#ffffff;
    width: 568px;
    height: 86px;
}

button.modal_button:hover{
    background-color:#604e43;
}

button.btn_show_offers {
    background-color:#81b3d2;
    color:#ffffff;
}

.hotels_offers input[type="text"]{
    background-color:#f2f2f2; 
}

.hotels_offers input[type="text"]:hover{
    background-color:#ebebeb;
}

.hotels_offers input[type="text"]:focus{
    background-color:#ffffff;
}

::-webkit-input-placeholder {
    background-color:#ebebeb;
    font-size: 14px;
    color:#000000;
    font-weight: 700;
}
::-moz-placeholder          {
    background-color:#ebebeb;
    font-size: 14px;
    color:#000000;
    font-weight: 700;
}
:-moz-placeholder           {
    background-color:#ebebeb;
    font-size: 14px;
    color:#000000;
    font-size: 14px;
    font-weight: 700;
}
:-ms-input-placeholder{
    background-color:#ebebeb;
    font-size: 14px;
    color:#000000;
    font-weight: 700;
}

:focus::-webkit-input-placeholder {
    background-color:#ffffff;
    color:#000000;
    font-weight: 700;
}
:focus::-moz-placeholder          {
    background-color:#ebebeb;
    color:#000000;
    font-weight: 700;
}
:focus:-moz-placeholder           {
    background-color:#ebebeb;
    color:#000000;
    font-weight: 700;
}
:focus:-ms-input-placeholder{
    background-color:#ebebeb;
    color:#000000;
    font-weight: 700;
}

:hover::-webkit-input-placeholder {
    background-color:#c1c1c1;
    color:#000000;
    font-weight: 700;
}
:hover::-moz-placeholder          {
    background-color:#c1c1c1;
    color:#000000;
    font-weight: 700;
}
:hover:-moz-placeholder           {
    background-color:#c1c1c1;
    color:#000000;
    font-weight: 700;
}
:hover:-ms-input-placeholder{
    background-color:#c1c1c1;
    color:#000000;
    font-weight: 700;
}

.people_summ input[type="number"] {
    background-color:#ebebeb;
    color:#000000;
    font-weight: 700;  
}

.btn_show_offers:hover {
    background-color:#669ec0;
}

.btn_up:hover,
.btn_down:hover {
    color:#000000;    
}

.btn_up:active,
.btn_down:active {
    color:#81b3d2;
}

.people_summ {
    text-transform: uppercase;
    font-size: 14px;
    color:#000000;
}

.form_date {
    height: 292px;
    outline: 1px solid #0002F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_date p {
    text-transform: uppercase;
    font-size: 14px;
}

.form_date h3 {
    font-size: 30px;
    text-transform: uppercase;
}

.map {
    height: 474px;
    background-image: url(../img/map.jpg);
    outline: 1px solid #0002F5;
}

.footer_main {
    height:120px;
    outline: 1px solid #0002F5;
    display: flex;
    justify-content: space-around;
}


.footer_socials li {
    background-color:#81b3d2;
    display: inline;
    list-style: none;
}

.footer_logo {
    background-image: url(../img/logo_academy.png);
    background-size: auto;
    height:100px;
}

.footer_visit {
    text-transform: uppercase;
    color:#000000;
    font-size: 21px;
}

/* css для hotels.html --> */

.sorting li {
    list-style: none;
}

.sort_item {
    color:#;
}

.sort_item_current {
    color:#81b3d2;
}

.sort_item:hover,
.sort_item:hover{
    color:#81b3d2;
}

.sort_item:active{
    color:#000000;
}


.form_options{
    background-image:url(../img/hotel_search_form.jpg);
    background-repeat: no-repeat;
    color:#ffffff;
    text-transform: uppercase;
    outline: 1px solid #0002F5;
    height: 217px;
}

.search_form {
    display: flex;
}

.infrast {
    display: flex;
    flex-direction: column;
}

.house_type{
    display: flex;
    flex-direction: column;
}
.cost_perday{
    display: flex;
    flex-direction: column;
}

.conteiner {
    height: 86px;
    outline: 1px solid #0002F5;
    display: flex;
}

.conteiner ul,
.conteiner h3 {
    margin: 0px;
    padding:0px;
}

.hostels_list {
    list-style: none;
}

.hostel_found {
    text-transform: uppercase;
}

.hostels_list {
    display: flex;
    flex-direction:column;
}

.btn_show_hotels {
    background-color: inherit;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.sorting {
    display: flex;
    
}

ul.sorting li {
    font-size: 12px;
    font-weight: 400;
}

.hotel_stars {
    display: inline;
}

.hotel_name {
    font-size: 21px;
    font-weight: 700;
}

.btn_show_hotels:hover{
    background-color: white;
    color:#000000;
}

.btn_hotel_book {
    background-color:#766357;
    color:#ffffff;
}

.btn_hotel_book:hover{
    background-color:#604e43;
}

.btn_info {
    text-decoration: none;
    background-color:#81b3d2;
    color:#ffffff;
}


.btn_info:hover {
    background-color:#669ec0;
}

.search_form h4 {
    font-size: 16px;
    font-weight: 700;
}

.search_form label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

li.sort_item {
    font-size: 14px;
}

.btn_info,
.btn_hotel_book{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.hostels_list {
    display: flex;
    justify-content: space-around;
    outline: 1px solid #0002F5;
    
}

.hostel_item {
    display: flex;
    height: 151px;
}

.hostel_found ul {
    margin: 0px;
    padding: 0px;
}

